* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #86c232;
$second-color: #6b6e70;
$bg-color: #222629;
$fire-color: #ff652f;
$sun-color: #ffe400;
$purple-color: linear-gradient(to right, #2a2a61, #5048a2, #7064de);
$wave1: #cccccc;
$wave2: #cb2d6f;
$wave3: #2d283e;

body {
  color: $primary-color;
  background-color: $bg-color;
  overflow-x: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#sidebar {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: auto;
  transition: all 0.5s ease;
  box-shadow: 4px 3px 11px 0px rgba(0, 0, 0, 0.45);
  z-index: 1;
  background-color: $bg-color;

  .sidebar-item {
    width: 100%;
    height: 70px;
    text-align: center;
    min-width: 112px;
    color: $second-color;
    transition: all 0.5s ease;

    &:hover {
      background-color: #0000001c;
      border-radius: 5px;
      color: $primary-color;
      cursor: pointer;
    }

    .fas,
    .fab {
      width: 100%;
      font-size: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .fa-angle-double-up {
      transform: rotate(90deg);
      color: $second-color;
      position: absolute;
      width: 35px;
      display: inline-block;
      height: 35px;
      transform-origin: center top;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: attr(title);
      color: #86c2329e;
      position: absolute;
      bottom: -9px;
      font-size: 12px;
      left: 50%;
      transition: all 1s ease-in-out;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }

    .sidebar-span {
      display: inline-block;
      max-width: 70px;
      font-size: 15px;
      padding-right: 20px;
      font-weight: 500;
    }
  }

  .sidebar-item.collapse-text:hover::after {
    color: $second-color;
    padding-bottom: 6px;
    font-size: 12px;
  }
  .collapse-text {
    background-color: #00000052;
  }

  a > div {
    min-width: 100%;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    transition: border 0.2s linear;

    &:hover {
      border-right: 1.5px solid $fire-color;
    }
  }

  .sidebar-collapse-section {
    margin-bottom: 50px;
    &:hover {
      border: none;
    }
  }
}

.sidebar-open {
  position: fixed !important;
  z-index: 100 !important;
  min-width: 160px !important;
  background-color: $bg-color !important;

  .fa-angle-double-up {
    transform: rotate(270deg) !important;
    transform-origin: left !important;
  }

  .sidebar-item:hover::after {
    opacity: 0 !important;
  }
}

#homepage {
  width: 100%;
  min-height: 100vh;
}

#intro-section {
  background: $purple-color;
  background-size: 180%, 100%;
  height: 80vh;
  position: relative;

  > svg {
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
  }
}

#about-section {
  height: 60vh;
  position: relative;

  > svg {
    width: 100%;
    display: block;
    bottom: -15px;
    position: absolute;
  }
}

#contact-section {
  margin: 0;
  padding: 0;
  height: 100vh;

  .contact-header {
    width: 100vw;
    position: relative;
    height: 250px;
    margin-bottom: 35px;

    > .triple-wave {
      position: relative;
      display: block;
      min-width: calc(400% + 1.3px);
      width: calc(400% + 1.3px) !important;
      height: 60px;
      transform: rotateY(180deg);

      .path1 {
        fill: $fire-color;
        width: 200vw;
        animation: animate 11s linear 1s infinite alternate;
      }
      .path2 {
        fill: $fire-color;
        width: 200vw;
        animation: animate 11s linear 3s infinite alternate;
      }
      .path3 {
        transform: translateX(0) rotateY(-180deg) !important;
        fill: url(#gradient) !important;
        position: relative !important;
        display: block !important;
        min-width: calc(400% + 1.3px) !important;
        height: 195px !important;
        transform-origin: center;
      }
    }

    > .contact-wave1 {
      position: relative;
      display: block;
      min-width: calc(400% + 1.3px);
      height: 195px;
      background-size: 180%, 100%;
      fill: url(#gradient);
    }
  }

  .contact-form__wrapper {
    width: 100vw;
    position: relative;
    height: 75vh;
  }
}

@keyframes animate {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}
