* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #86c232;
$second-color: #6b6e70;
$bg-color: #222629;
$fire-color: #ff652f;
$sun-color: #ffe400;
$purple-color: linear-gradient(to right, #24243e, #302b63, #0f0c29);
$wave1: #cccccc;
$wave2: #cb2d6f;
$wave3: #2d283e;

body {
  color: $primary-color;
  background-color: $bg-color;
  overflow-x: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#sidebar {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: auto;

  .sidebar-item {
    width: 100%;
    height: 70px;
  }

  > div {
    min-width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }

  > div:nth-child(1) {
    margin-bottom: 30px;
  }
}

#homepage {
  width: 100%;
  min-height: 100vh;
}

#intro-section {
  background: $purple-color;
  background-size: 180%, 100%;
  height: 80vh;
  position: relative;
  > svg {
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
  }
}

#about-section {
  height: 60vh;
  position: relative;
  > svg {
    width: 100%;
    display: block;
    bottom: -15px;
    position: absolute;
  }
}

#contact-section {
  margin: 0;
  padding: 0;
  height: 100vh;

  .contact-header {
    width: 100vw;
    position: relative;
    height: 250px;
    margin-bottom: 35px;

    > .triple-wave {
      position: relative;
      display: block;
      min-width: calc(115% + 1.3px) !important;
      width: calc(115% + 1.3px) !important;
      height: 60px;
      transform: rotateY(180deg);

      .path1 {
        fill: $fire-color;
        width: 200vw;
        animation: animate 11s linear 1s infinite alternate;
      }
      .path2 {
        fill: url(#gradient);
        width: 200vw;
        animation: animate 15s linear 3s infinite alternate;
      }
      .path3 {
        fill: url(#gradient);
        
      }
    }

    > .contact-wave1 {
      position: relative;
      display: block;
      min-width: calc(400% + 1.3px);
      height: 195px;
      background-size: 180%, 100%;
      fill: url(#gradient);
    }
  }

  .contact-form__wrapper {
    width: 100vw;
    position: relative;
    height: 75vh;
  }
}

@keyframes animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30%);
  }
}
